/Zm-B73-REFERENCE-NAM-5.0
/Zm-B73-REFERENCE-NAM-5.0.fa
/Zm-B73-REFERENCE-NAM-5.0_Zm00001eb.1.cdna.fa.gz
/Zm-B73-REFERENCE-NAM-5.0_Zm00001eb.1.cds.fa.gz
/Zm-B73-REFERENCE-NAM-5.0_Zm00001eb.1.gene.fa.gz
/Zm-B73-REFERENCE-NAM-5.0_Zm00001eb.1.gff3.gz
/Zm-B73-REFERENCE-NAM-5.0_Zm00001eb.1.protein.fa.gz